$corDeFundo: #0f4ea0;
$corTextoPrincipal: rgb(0, 0, 0);
$corTextoSecundario: #000000;
$corBotaoDentro: #ffffff;
$corTextoTerciario: #000;
$corDeFundoBotaoPrimario: #13386d;
$corDeFundoBotaoSecundario: #042046;
$corDeFundoBotaoDark: #000;